.column {
	float: left;
	width: 50%;
}
.row:after {
	content: "";	/* To be displayed */
	display: table;	/* Type of rendering box */
	clear: both;	/* Push next float down */
}

hr {
	border-top: 1px solid white;
}

.image-embed[alt] {
	position: relative;
	display: inline-block;
	width: fit-content;
	padding 0.5ex 1ex;
}

.image-embed[alt]:not([alt*="."]):before {
	content: attr(alt);
	display: block;

	line-height: 1.4;
	font-weight: bold;
	padding 0.5ex 1ex;

	width: 100%;
	text-align: center;
}

div[src$='.svg'] {
	background-color: white;
}
/* div.svg img {

} */

.callout[data-callout="bash"] {
  --callout-color: 63, 13, 48;
  --callout-icon: square-terminal;
  --callout-title-color: 30, 180, 50;
}
